.fillupBar {
    background-color: green;
    border-style: solid;
    border-color: white;
    width: 95%;
    position: relative;
    top: 5;
    left: 2.5%;
    height: 50px;
}

.text {
    color: white;
    font-size: 20;
}