#title {
    font-family: pangolin-regular;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom:10px;
    margin:0px;
}

#categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

app-category-panel-component, app-result-panel-component {
    margin-top: 50px;
    transition: transform 0.5s;
    width: 500px;
    min-height: 500px;
    &:hover {
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 525px) {
    #categories-container {
      justify-content: center;
    }

    app-category-panel-component, app-result-panel-component {
        margin-top: 50px;
        width: 95%;
        &:hover {
            transform: none;
        }
    }
}