/* You can add global styles to this file, and also import other style files */

html, body {
    display: flex;
}

body { 
    color: white;
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
    background-color: #07080a;
}

@font-face {
    font-family: pangolin-regular;
    src: url(assets/font/Pangolin-Regular.ttf) format("opentype");
}
